body {
    display: flex;
    min-height: 900px;
    justify-content: center; /* horizontal */
    align-items: center;
    background-color: #E5E5E5;

}

main {
    min-width: var(--calculator-width);
    max-width: var(--calculator-width);
    margin: var(--spacing-l) var(--spacing-xxl);
    font-weight: bolder;
    color: var(--text-color);
    background: var(--bg);
    border-radius: var(--border-radius-medium);
    font-family: var(--font), sans-serif;
}

.calculator__keypad {
    width: 100%;
    max-width: var(--calculator-width);
    margin: 0 auto;
    box-sizing: border-box;
}