.calculator-grid {
    background: var(--buttons-bg);

    border-radius: 25px 25px 37px 37px;
    padding: 34px;
}

.calculator-grid button {
    color: var(--text);
    background: none;

    width: 70px;
    height: 70px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: bold;
    border-radius: 50px;
}

.calculator-utilities,
.calculator-operators {
    background-color: var(--button-bg-section);
    border-radius: 50px;
}

.calculator-numbers > button {
    background-color: var(--button-bg);
    border-radius: 50px;
}

.calculator-operators--equal {
    background-color: var(--button-bg-dark) !important;
}