.buttons-grid {
    background: var(--buttons-bg);

    border-radius: 25px 25px 50px 50px;
}

.buttons-grid > button {
    background-color: var(--button-bg);
    color: var(--text);
    box-shadow : var(--button-shadow);

    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.operation-btn {
    background-color: var(--button-bg);
}