.calculator__display {
    min-height: var(--calculator-display-height);
}

/* Header */
.calculator__theme-switch {
    background-color: var(--sun-bg);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-soft);
}

.calculator__theme-switch img {
    width: var(--icon-size);
    height: var(--icon-size);
}

.calculator__moon {
    padding: var(--spacing-s) var(--spacing-xl);
    background-color: var(--moon-bg);
    border-radius: var(--border-radius-medium);

}

.calculator__sun {
    padding: var(--spacing-s) var(--spacing-xs) var(--spacing-s) var(--spacing-l);
}

.calculator__history {
    padding: var(--spacing-s);
}

.calculator__history img {
    height: var(--icon-size);
}

/* Content */
.calculator__input {
    font-size: var(--font-size-sm);
    color: var(--text-color-2);
}

.calculator__equal {
    font-size: var(--font-size-md);
}

.calculator__result {
    font-size: var(--font-size-lg);
}