main {
    display: grid;
    align-items: end;
}

.calculator-grid {
    display: grid;
    grid-template-columns: 75% 20%;
    gap: 25px;
}

.calculator-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.calculator-numbers,
.calculator-utilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.calculator-operators {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;

    justify-content: center;
}

.calculator-grid button:hover {
    background-color: var(--button-bg-hover);
    cursor: pointer;
}