:root[data-theme="dark"] {
    --bg: linear-gradient(
            to bottom right,
            #373737 0%,
            #252628 23%,
            #000309 100%
    );
    --text: #FBFBFB;

    --buttons-bg: linear-gradient(
            to top right,
            rgb(0, 34, 53) 0%,
            rgba(19, 63, 100) 58%,
            rgba(23, 73, 105) 85%,
            rgba(25, 82, 111) 100%
    );
    --button-bg: rgba(9, 23, 37, 0.6);
    --button-bg-dark: rgba(11, 32, 51, 0.8);
    --button-bg-section: #0E2C43;

    --button-bg-hover: #0B2030;
}