:root {
    /* Layout */
    --gap: 1.6rem; /* 25px */

    /* Sizes */
    --icon-size: 1.875rem; /* 30px */
    --btn-size: 4.375rem; /* 70px */
    --calculator-width: 26.25rem; /* 420px */
    --calculator-display-height: 23.75rem; /* 380px */

    /* Typography */
    --font: "Poppins";
    --font-size-sm: 1.375rem; /* 22px */
    --font-size-md: 1.625rem; /* 26px */
    --font-size-lg: 2.5rem; /* 40px */

    /* Border radius */
    --border-radius-small: 1.625rem; /* 25px */
    --border-radius-medium: 2.5rem; /* 40px */
    --border-radius-big: 3.125rem; /* 50px */

    /* Spacing */
    --spacing-xs: 0.25rem; /* ~4px */
    --spacing-s: 0.5rem; /* ~8px */
    --spacing-m: 1rem; /* ~16px */
    --spacing-l: 1.25rem; /* ~20px */
    --spacing-xl: 1.5rem; /* ~24px */
    --spacing-xxl: 1.75rem; /* ~28px */
    --spacing-xxxl: 2rem; /* ~32px */
}